################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/.vs/TIS_General/v17
/.vs/TIS_General/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/TIS_General/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/TIS_General/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/TIS_General/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/TIS_General/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/TIS_General/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/TIS_General/FileContentIndex/4c268f59-ddd7-4f9b-9edc-b7affab15326.vsidx
/.vs/TIS_General/FileContentIndex/535d9150-5106-4316-bdba-c9c1f76fb753.vsidx
/TIS/bin/TIS.dll
/TIS/bin/TIS.pdb
/.vs/TIS_General/copilot-chat/27e7756f/sessions/a2ef8988-3817-49f6-a9c8-ec02bc17fb30
/TIS/bin/
/TIS/obj/
/TIS/Properties/PublishProfiles/FolderProfile.pubxml.user
/TIS/TIS.csproj.user
*.vsidx
/.vs/TIS_General/CopilotIndices/17.14.1577.30250/CodeChunks.db
/.vs/TIS_General/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
/.vs/TIS_General/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
/.vs/TIS_General/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
/.vs/TIS_General/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
/.vs/TIS_General/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
/.vs/TIS_General/v17/.suo
/.vs/TIS_General/v17/DocumentLayout.backup.json
/.vs/TIS_General/v17/DocumentLayout.json
/TIS/obj/Debug/TIS.csproj.App.config
/TIS/obj/Debug/TIS.csproj.AssemblyReference.cache
/TIS/obj/Debug/TIS.csproj.CoreCompileInputs.cache
/TIS/obj/Debug/TIS.dll
/TIS/obj/Debug/TIS.pdb
/TIS/bin/TIS.dll
/TIS/bin/TIS.dll.config
/TIS/bin/TIS.pdb
/TIS/obj/Release/AspnetCompileMerge/Source/bin/TIS.dll
/TIS/obj/Release/AspnetCompileMerge/Source/bin/TIS.pdb
.vs/
/TIS/Bills/Ooredoo_ Aug 2025_updated.xlsx
/.vs/TIS_General/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/TIS_General/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/TIS/Controllers/AdminRoleAuthorizeAttribute.cs
/TIS/Bills
/TIS/Controllers/AdminRoleAuthorizeAttribute.cs
