/*states, content and header*/
.jqx-widget-dark-blue{border-color:#004a73}
.jqx-widget-content-dark-blue{color:#004a73; border-color:#004a73}
.jqx-fill-state-normal-dark-blue, .jqx-widget-header-dark-blue, .jqx-menu-vertical-dark-blue{color: #fff; border-color: #004a73; background-color:#449bca; background-image:-webkit-gradient(linear,0 0,0 100%,from(#3c91c2),to(#449bca));  background-image:-moz-linear-gradient(top,#3c91c2,#449bca);  background-image:-o-linear-gradient(top,#3c91c2,#449bca)}
.jqx-grid-cell-sort-dark-blue, .jqx-grid-cell-filter-dark-blue, .jqx-grid-cell-pinned-dark-blue{color: #000; background-color:#deedf5}
.jqx-grid-cell-alt-dark-blue, .jqx-grid-cell-sort-alt-dark-blue, .jqx-grid-cell-filter-alt-dark-blue{color: #000; background-color:#deedf5}
.jqx-checkbox-check-checked-dark-blue{background:transparent url(images/check_white.png) left top no-repeat}
.jqx-checkbox-check-indeterminate-dark-blue{background:transparent url(images/check_indeterminate_white.png) left top no-repeat}
.jqx-grid-dark-blue, .jqx-grid-header-dark-blue, .jqx-grid-cell-dark-blue{border-color:#60aad2}
.jqx-widget-dark-blue .jqx-grid-cell-dark-blue, .jqx-widget-dark-blue .jqx-grid-group-cell-dark-blue{border-color:#60aad2}
.jqx-widget-dark-blue .jqx-grid-column-menubutton-dark-blue, .jqx-widget-dark-blue .jqx-grid-column-sortascbutton-dark-blue, .jqx-widget-dark-blue .jqx-grid-column-sortdescbutton-dark-blue, .jqx-widget-dark-blue .jqx-grid-column-filterbutton-dark-blue{   background-color:#449bca;border-color:#449bca}
.jqx-widget-dark-blue .jqx-grid-column-header-dark-blue{border-color:#449bca}
.jqx-grid-bottomright-dark-blue, .jqx-panel-bottomright-dark-blue, .jqx-listbox-bottomright-dark-blue{   background-color:#449bca}
.jqx-widget-dark-blue .jqx-grid-column-menubutton-dark-blue, .jqx-menu-vertical-dark-blue{background-color:#0a73a7;border-color:#0a73a7}
.jqx-grid-group-cell-dark-blue{border-color:#60aad2; background-color:#fff}
.jqx-fill-state-hover-dark-blue{background: #2f7097; background-image: none; border-color:#004a73; color:#fff}
.jqx-fill-state-pressed-dark-blue, .jqx-menu-item-top-hover-dark-blue{background: #004a73; background-image: none; border-color:#004a73; color:#fff}
 .jqx-grid-selectionarea-dark-blue{background-color:#60aad2;border:1px solid #60aad2; opacity:0.5}
.jqx-scrollbar-state-normal-dark-blue{background-color:#449bca; border:1px solid #449bca;}
.jqx-tabs-title-selected-bottom-dark-blue, .jqx-tabs-selection-tracker-bottom-dark-blue, .jqx-tabs-title-selected-top-dark-blue, .jqx-tabs-selection-tracker-top-dark-blue{color: #ffffff; border-color:#004a73; border-bottom:1px solid #004a73; background:#004a73}

/*icons*/
.jqx-grid-column-sortascbutton-dark-blue, .jqx-expander-arrow-bottom-dark-blue, .jqx-window-collapse-button-dark-blue, .jqx-menu-item-arrow-up-dark-blue, .jqx-menu-item-arrow-up-selected-dark-blue, .jqx-menu-item-arrow-top-up-dark-blue, .jqx-icon-arrow-up-dark-blue, .jqx-icon-arrow-up-hover-dark-blue, .jqx-icon-arrow-up-selected-dark-blue{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center}
.jqx-grid-column-menubutton-dark-blue, .jqx-grid-column-sortdescbutton-dark-blue, .jqx-expander-arrow-top-dark-blue, .jqx-window-collapse-button-collapsed-dark-blue, .jqx-menu-item-arrow-down-dark-blue, .jqx-menu-item-arrow-down-selected-dark-blue, .jqx-menu-item-arrow-down-dark-blue, .jqx-icon-arrow-down-dark-blue, .jqx-icon-arrow-down-hover-dark-blue, .jqx-icon-arrow-down-selected-dark-blue{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center}

.jqx-icon-arrow-left-dark-blue{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-right-dark-blue{background-image:url('images/icon-right-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-menu-item-arrow-left-dark-blue{background-image:url('images/icon-left.png'); background-repeat:no-repeat; background-position:center}
.jqx-menu-item-arrow-right-dark-blue{background-image:url('images/icon-right.png'); background-repeat:no-repeat; background-position:center}

.jqx-tabs-arrow-left-dark-blue, .jqx-menu-item-arrow-left-selected-dark-blue, .jqx-menu-item-arrow-top-left-dark-blue, .jqx-icon-arrow-down-left-dark-blue, .jqx-icon-arrow-left-selected-dark-blue{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-right-dark-blue, .jqx-menu-item-arrow-right-selected-dark-blue, .jqx-menu-item-arrow-top-right-dark-blue, .jqx-icon-arrow-right-hover-dark-blue, .jqx-icon-arrow-right-selected-dark-blue{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center}
.jqx-window-close-button-dark-blue, .jqx-icon-close-dark-blue, .jqx-tabs-close-button-dark-blue, .jqx-tabs-close-button-hover-dark-blue, .jqx-tabs-close-button-selected-dark-blue{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-icon-arrow-first-dark-blue
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-dark-blue
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-search-dark-blue
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-calendar-dark-blue, .jqx-icon-calendar-hover-dark-blue, .jqx-icon-calendar-pressed-dark-blue {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-delete-dark-blue
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-dark-blue
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-dark-blue
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-dark-blue
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-dark-blue
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-dark-blue
{
    background-image: url(images/plus_white.png);
}

.jqx-grid-group-expand-dark-blue, .jqx-grid-cell-dark-blue>.jqx-grid-group-expand-dark-blue {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-dark-blue, .jqx-grid-cell-dark-blue>.jqx-grid-group-collapse-dark-blue {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-rtl-dark-blue, .jqx-grid-cell-dark-blue>.jqx-grid-group-collapse-rtl-dark-blue {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-expand-rtl-dark-blue, .jqx-grid-cell-dark-blue>.jqx-grid-group-expand-rtl-dark-blue {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-dark-blue.jqx-grid-cell-selected-dark-blue>.jqx-grid-group-expand-dark-blue,
.jqx-grid-cell-dark-blue.jqx-grid-cell-hover-dark-blue>.jqx-grid-group-expand-dark-blue {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-selected-dark-blue>.jqx-grid-group-collapse-dark-blue,
.jqx-grid-cell-dark-blue.jqx-grid-cell-hover-dark-blue>.jqx-grid-group-collapse-dark-blue {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-selected-dark-blue>.jqx-grid-group-collapse-rtl-dark-blue,
.jqx-grid-cell-dark-blue.jqx-grid-cell-hover-dark-blue>.jqx-grid-group-collapse-rtl-dark-blue {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-selected-dark-blue>.jqx-grid-group-expand-rtl-dark-blue,
.jqx-grid-cell-dark-blue.jqx-grid-cell-hover-dark-blue>.jqx-grid-group-expand-rtl-dark-blue {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-menu-minimized-button-dark-blue {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-widget-dark-blue
{
  font-family: Verdana;
}
.jqx-widget-content-dark-blue
{
  color: #004a73;
  text-shadow: none;
  border-color: #004a73;
  background: #ffffff;
  font-family: Verdana;
}
.jqx-widget-header-dark-blue, .jqx-grid-dark-blue .jqx-widget-header-dark-blue
{
  color: #ffffff;
  text-shadow: none;
  border-color: #004a73;
  background-color: #3c91c2;
  background-image: -moz-linear-gradient(top, #3c91c2, #449bca);
  background-image: -ms-linear-gradient(top, #3c91c2, #449bca);
  background-image: -o-linear-gradient(top, #3c91c2, #449bca);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3c91c2), to(#449bca));
  background-image: -webkit-linear-gradient(top, #3c91c2, #449bca);
  background-image: linear-gradient(top, #3c91c2, #449bca);
  background-image: linear-gradient(to bottom, #3c91c2, #449bca);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton-dark-blue, .jqx-widget-dark-blue.jqx-grid-column-menubutton-dark-blue
{
  border-color: #004a73;
}
.jqx-grid-cell-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-dark-blue
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-dark-blue
{
  color: #ffffff;
  text-shadow: none;
  border-color: #004a73;
  background-color: #3c91c2;
  background-image: -moz-linear-gradient(top, #3c91c2, #449bca);
  background-image: -ms-linear-gradient(top, #3c91c2, #449bca);
  background-image: -o-linear-gradient(top, #3c91c2, #449bca);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3c91c2), to(#449bca));
  background-image: -webkit-linear-gradient(top, #3c91c2, #449bca);
  background-image: linear-gradient(top, #3c91c2, #449bca);
  background-image: linear-gradient(to bottom, #3c91c2, #449bca);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-dark-blue
{
  color: #ffffff;
  text-shadow: none;
  border-color: #004a73;
  background-color: #3c91c2;
  background-image: -moz-linear-gradient(top, #3c91c2, #449bca);
  background-image: -ms-linear-gradient(top, #3c91c2, #449bca);
  background-image: -o-linear-gradient(top, #3c91c2, #449bca);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3c91c2), to(#449bca));
  background-image: -webkit-linear-gradient(top, #3c91c2, #449bca);
  background-image: linear-gradient(top, #3c91c2, #449bca);
  background-image: linear-gradient(to bottom, #3c91c2, #449bca);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-dark-blue
{
  border-color: #004a73;
  background-color: #3c91c2;
}
.jqx-widget-dark-blue .jqx-grid-cell-sort-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-filter-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-pinned-dark-blue, .jqx-grid-cell-sort-dark-blue, .jqx-grid-cell-filter-dark-blue, .jqx-grid-cell-pinned-dark-blue
{
  background-color: #deedf5;
  color: #222222;
  text-shadow: none;
}
.jqx-widget-dark-blue .jqx-grid-cell-alt-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-sort-alt-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-pinned-alt-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-filter-alt-dark-blue, .jqx-grid-cell-alt-dark-blue, .jqx-grid-cell-sort-alt-dark-blue, .jqx-grid-cell-filter-alt-dark-blue
{
  background-color: #deedf5;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-hover-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-hover-dark-blue
{
  color: #ffffff;
  text-shadow: none;
  border-color: #004a73;
  background-color: #2f7097;
  background-image: -moz-linear-gradient(top, #2f7097, #2f7097);
  background-image: -ms-linear-gradient(top, #2f7097, #2f7097);
  background-image: -o-linear-gradient(top, #2f7097, #2f7097);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#2f7097), to(#2f7097));
  background-image: -webkit-linear-gradient(top, #2f7097, #2f7097);
  background-image: linear-gradient(top, #2f7097, #2f7097);
  background-image: linear-gradient(to bottom, #2f7097, #2f7097);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-selected-dark-blue
{
  color: #ffffff;
  text-shadow: none;
  border-color: #004a73;
  background-color: #004a73;
  background-image: -moz-linear-gradient(top, #004a73, #004a73);
  background-image: -ms-linear-gradient(top, #004a73, #004a73);
  background-image: -o-linear-gradient(top, #004a73, #004a73);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#004a73), to(#004a73));
  background-image: -webkit-linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(to bottom, #004a73, #004a73);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-dark-blue
{
  color: #ffffff;
  text-shadow: none;
  border-color: #004a73;
  background-color: #004a73;
  background-image: -moz-linear-gradient(top, #004a73, #004a73);
  background-image: -ms-linear-gradient(top, #004a73, #004a73);
  background-image: -o-linear-gradient(top, #004a73, #004a73);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#004a73), to(#004a73));
  background-image: -webkit-linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(to bottom, #004a73, #004a73);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-dark-blue, .jqx-tabs-selection-tracker-top-dark-blue
{
  color: #004a73;
  text-shadow: none;
  border-color: #004a73;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-dark-blue, .jqx-tabs-selection-tracker-bottom-dark-blue
{
  color: #004a73;
  text-shadow: none;
  border-color: #004a73;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-dark-blue
{
  background: #2f7097;
}
.jqx-splitter-splitbar-vertical-dark-blue, .jqx-splitter-splitbar-horizontal-dark-blue, .jqx-slider-track-horizontal-dark-blue, .jqx-slider-track-vertical-dark-blue
{
  background: #3c91c2;
}
.jqx-splitter-collapse-button-horizontal-dark-blue, .jqx-splitter-collapse-button-vertical-dark-blue, .jqx-slider-rangebar-dark-blue
{
  background: #004a73;
}
.jqx-scrollbar-state-normal-dark-blue
{
  background-color: #449bca;
  border-color: #449bca;
}
.jqx-grid-bottomright-dark-blue, .jqx-panel-bottomright-dark-blue, .jqx-listbox-bottomright-dark-blue
{
  background-color: #449bca;
}
.jqx-scrollbar-thumb-state-normal-dark-blue
{
  background-color: #449bca;
  background-color: #449bca;
  background-image: -moz-linear-gradient(left, #449bca, #449bca);
  background-image: -ms-linear-gradient(left, #449bca, #449bca);
  background-image: -o-linear-gradient(left, #449bca, #449bca);
  background-image: -webkit-gradient(linear, left top, right top, from(#449bca), to(#449bca));
  background-image: -webkit-linear-gradient(left, #449bca, #449bca);
  background-image: linear-gradient(left, #449bca, #449bca);
  background-image: linear-gradient(left right, #449bca, #449bca);
}
.jqx-scrollbar-thumb-state-normal-horizontal-dark-blue
{
  background-color: #449bca;
  background-color: #449bca;
  background-image: -moz-linear-gradient(top, #449bca, #449bca);
  background-image: -ms-linear-gradient(top, #449bca, #449bca);
  background-image: -o-linear-gradient(top, #449bca, #449bca);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#449bca), to(#449bca));
  background-image: -webkit-linear-gradient(top, #449bca, #449bca);
  background-image: linear-gradient(top, #449bca, #449bca);
  background-image: linear-gradient(to bottom, #449bca, #449bca);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-dark-blue
{
  background-color: #004a73;
  border-color: #004a73;
  background-image: -moz-linear-gradient(left, #004a73, #004a73);
  background-image: -ms-linear-gradient(left, #004a73, #004a73);
  background-image: -o-linear-gradient(left, #004a73, #004a73);
  background-image: -webkit-gradient(linear, left top, right top, from(#004a73), to(#004a73));
  background-image: -webkit-linear-gradient(left, #004a73, #004a73);
  background-image: linear-gradient(left, #004a73, #004a73);
  background-image: linear-gradient(left right, #004a73, #004a73);
}
.jqx-scrollbar-thumb-state-hover-horizontal-dark-blue
{
  background-color: #004a73;
  border-color: #004a73;
  background-image: -moz-linear-gradient(top, #004a73, #004a73);
  background-image: -ms-linear-gradient(top, #004a73, #004a73);
  background-image: -o-linear-gradient(top, #004a73, #004a73);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#004a73), to(#004a73));
  background-image: -webkit-linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(to bottom, #004a73, #004a73);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-dark-blue
{
  background-color: #004a73;
  border-color: #004a73;
  background-image: -moz-linear-gradient(left, #004a73, #004a73);
  background-image: -ms-linear-gradient(left, #004a73, #004a73);
  background-image: -o-linear-gradient(left, #004a73, #004a73);
  background-image: -webkit-gradient(linear, left top, right top, from(#004a73), to(#004a73));
  background-image: -webkit-linear-gradient(left, #004a73, #004a73);
  background-image: linear-gradient(left, #004a73, #004a73);
  background-image: linear-gradient(left right, #004a73, #004a73);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-dark-blue
{
  background-color: #004a73;
  border-color: #004a73;
  background-image: -moz-linear-gradient(top, #004a73, #004a73);
  background-image: -ms-linear-gradient(top, #004a73, #004a73);
  background-image: -o-linear-gradient(top, #004a73, #004a73);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#004a73), to(#004a73));
  background-image: -webkit-linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(to bottom, #004a73, #004a73);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-dark-blue
{
  background-color: #449bca;
  background-image: -moz-linear-gradient(top, #449bca, #449bca);
  background-image: -ms-linear-gradient(top, #449bca, #449bca);
  background-image: -o-linear-gradient(top, #449bca, #449bca);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#449bca), to(#449bca));
  background-image: -webkit-linear-gradient(top, #449bca, #449bca);
  background-image: linear-gradient(top, #449bca, #449bca);
  background-image: linear-gradient(to bottom, #449bca, #449bca);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-dark-blue
{
  background-color: #2f7097;
  border-color: #004a73;
  background-image: -moz-linear-gradient(top, #2f7097, #2f7097);
  background-image: -ms-linear-gradient(top, #2f7097, #2f7097);
  background-image: -o-linear-gradient(top, #2f7097, #2f7097);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#2f7097), to(#2f7097));
  background-image: -webkit-linear-gradient(top, #2f7097, #2f7097);
  background-image: linear-gradient(top, #2f7097, #2f7097);
  background-image: linear-gradient(to bottom, #2f7097, #2f7097);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-dark-blue
{
  background-color: #004a73;
  border-color: #004a73;
  background-image: -moz-linear-gradient(top, #004a73, #004a73);
  background-image: -ms-linear-gradient(top, #004a73, #004a73);
  background-image: -o-linear-gradient(top, #004a73, #004a73);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#004a73), to(#004a73));
  background-image: -webkit-linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(top, #004a73, #004a73);
  background-image: linear-gradient(to bottom, #004a73, #004a73);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-dark-blue
{
  background: #004a73;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-dark-blue
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-radius-topleft: 3px;
  border-radius-topleft: 3px;
}
.jqx-rc-tr-dark-blue
{
  -moz-border-radius-topright: 3px;
  -webkit-border-radius-topright: 3px;
  border-radius-topright: 3px;
}
.jqx-rc-bl-dark-blue
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
}
.jqx-rc-br-dark-blue
{
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
}
.jqx-rc-t-dark-blue
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.jqx-rc-b-dark-blue
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-r-dark-blue
{
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-l-dark-blue
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.jqx-radiobutton-default-dark-blue, .jqx-radiobutton-dark-blue, .jqx-radiobutton-check-checked-dark-blue, .jqx-radiobutton-hover-dark-blue, .jqx-radiobutton-check-indeterminate-dark-blue, .jqx-radiobutton-check-indeterminate-disabled-dark-blue, .jqx-slider-button-dark-blue
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-dark-blue, .jqx-tooltip-dark-blue, .jqx-tooltip-text-dark-blue, .jqx-tooltip-main-dark-blue
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.jqx-grid-column-sortascbutton-dark-blue, .jqx-expander-arrow-bottom-dark-blue, .jqx-window-collapse-button-dark-blue, .jqx-menu-item-arrow-up-dark-blue, .jqx-menu-item-arrow-top-up-dark-blue, .jqx-icon-arrow-up-dark-blue
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-arrow-up-hover-dark-blue
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-dark-blue, .jqx-icon-arrow-up-selected-dark-blue.jqx-expander-arrow-expanded-dark-blue
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-dark-blue, .jqx-grid-column-sortdescbutton-dark-blue, .jqx-expander-arrow-top-dark-blue, .jqx-window-collapse-button-collapsed-dark-blue, .jqx-menu-item-arrow-down-dark-blue, .jqx-menu-item-arrow-down-dark-blue, .jqx-tree-item-arrow-expand-dark-blue, .jqx-grid-group-expand-dark-blue, .jqx-widget-dark-blue .jqx-grid-group-expand-dark-blue, .jqx-icon-arrow-down-dark-blue
{
  background-image: url('images/icon-down-white.png');
}
.jqx-icon-arrow-down-hover-dark-blue
{
  background-image: url('images/icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-dark-blue, .jqx-icon-arrow-down-selected-dark-blue
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-dark-blue, .jqx-menu-item-arrow-top-left-dark-blue, .jqx-grid-group-collapse-rtl-dark-blue, .jqx-widget-dark-blue .jqx-grid-group-collapse-rtl-dark-blue, .jqx-icon-arrow-left-dark-blue, .jqx-icon-arrow-down-left-dark-blue
{
  background-image: url('images/icon-left-white.png');
}
.jqx-icon-arrow-left-hover-dark-blue
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-dark-blue
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-dark-blue, .jqx-icon-arrow-left-selected-dark-blue
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-dark-blue, .jqx-menu-item-arrow-top-right-dark-blue, .jqx-menu-item-arrow-collapse-dark-blue, .jqx-grid-group-collapse-dark-blue, .jqx-widget-dark-blue .jqx-grid-group-collapse-dark-blue, .jqx-icon-arrow-right-dark-blue
{
  background-image: url('images/icon-right-white.png');
}
.jqx-icon-arrow-right-hover-dark-blue
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-dark-blue, .jqx-icon-arrow-right-selected-dark-blue
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-dark-blue, .jqx-tabs-close-button-dark-blue, .icon-close-dark-blue
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-dark-blue
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-dark-blue
{
  background-image: url('images/close_white.png');
}
.jqx-widget-dark-blue .jqx-grid-column-header-dark-blue, .jqx-widget-dark-blue .jqx-grid-cell-dark-blue, .jqx-widget-dark-blue .jqx-grid-group-cell-dark-blue, .jqx-grid-cell-dark-blue
{
  border-color: #60aad2;
}
.jqx-checkbox-check-checked-dark-blue
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-dark-blue
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-dark-blue, .jqx-tooltip-main-dark-blue
{
  color: #ffffff;
  text-shadow: none;
  border-color: #004a73;
  background-color: #3c91c2;
  background-image: -moz-linear-gradient(top, #3c91c2, #449bca);
  background-image: -ms-linear-gradient(top, #3c91c2, #449bca);
  background-image: -o-linear-gradient(top, #3c91c2, #449bca);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3c91c2), to(#449bca));
  background-image: -webkit-linear-gradient(top, #3c91c2, #449bca);
  background-image: linear-gradient(top, #3c91c2, #449bca);
  background-image: linear-gradient(to bottom, #3c91c2, #449bca);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-combobox-content-dark-blue, .jqx-input-dark-blue
{
  color: #222222;
  text-shadow: none;
  border-color: #004a73;
  background-color: #ffffff;
}
.jqx-combobox-input-dark-blue
{
  color: #222222;
  text-shadow: none;
}
.jqx-input-content-dark-blue
{
  color: #222222;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-dark-blue, .jqx-popup-dark-blue .jqx-fill-state-focus-dark-blue
{
  border-color: #111111;
}
.jqx-popup-dark-blue.jqx-listbox-dark-blue, .jqx-popup-dark-blue.jqx-calendar-dark-blue,.jqx-menu-dropdown-dark-blue,  .jqx-popup-dark-blue.jqx-dropdownbutton-popup-dark-blue
{
  color: #222222;
  text-shadow: none;
  border-color: #004a73;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-dark-blue, .jqx-tree-item-arrow-collapse-dark-blue
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-dark-blue
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-dark-blue
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-up-dark-blue
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-left-dark-blue
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-right-dark-blue
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-bottom-dark-blue
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-up-hover-dark-blue
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-left-hover-dark-blue
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-right-hover-dark-blue
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-bottom-hover-dark-blue
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-up-selected-dark-blue
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-left-selected-dark-blue
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-right-selected-dark-blue
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-dark-blue .jqx-icon-arrow-bottom-selected-dark-blue
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-calendar-dark-blue .jqx-icon-arrow-up-dark-blue, .jqx-tabs-header-dark-blue .jqx-icon-arrow-up-dark-blue
{
}
.jqx-calendar-dark-blue .jqx-icon-arrow-left-dark-blue, .jqx-tabs-header-dark-blue .jqx-icon-arrow-left-dark-blue
{
}
.jqx-calendar-dark-blue .jqx-icon-arrow-right-dark-blue, .jqx-tabs-header-dark-blue .jqx-icon-arrow-right-dark-blue
{
}
.jqx-calendar-dark-blue .jqx-icon-arrow-bottom-dark-blue, .jqx-tabs-header-dark-blue .jqx-icon-arrow-bottom-dark-blue
{
}
.jqx-widget-dark-blue .jqx-grid-cell-dark-blue, .jqx-listitem-state-normal-dark-blue, .jqx-menu-item-normal-dark-blue, .jqx-tree-item-normal-dark-blue, .jqx-calendar-cell-dark-blue, .jqx-grid-cell-dark-blue,.jqx-menu-vertical-dark-blue .jqx-menu-item-top-normal-dark-blue, .jqx-input-popup-dark-blue .jqx-fill-state-normal-dark-blue
{
  font-family: Verdana;
}
.jqx-widget-dark-blue .jqx-grid-cell-hover-dark-blue, .jqx-listitem-state-hover-dark-blue, .jqx-menu-item-hover-dark-blue, .jqx-tree-item-hover-dark-blue, .jqx-calendar-cell-hover-dark-blue, .jqx-grid-cell-hover-dark-blue,.jqx-menu-vertical-dark-blue .jqx-menu-item-top-hover-dark-blue, .jqx-input-popup-dark-blue .jqx-fill-state-hover-dark-blue,.jqx-input-button-header-dark-blue, .jqx-input-popup-dark-blue .jqx-fill-state-pressed-dark-blue,.jqx-input-button-header-dark-blue
{
  font-family: Verdana;
}
.jqx-widget-dark-blue  .jqx-grid-cell-selected-dark-blue, .jqx-listitem-state-selected-dark-blue, .jqx-menu-item-selected-dark-blue, .jqx-tree-item-selected-dark-blue, .jqx-calendar-cell-selected-dark-blue, .jqx-grid-cell-selected-dark-blue,.jqx-menu-vertical-dark-blue .jqx-menu-item-top-selected-dark-blue, .jqx-grid-selectionarea-dark-blue
{
  font-family: Verdana;
}
.jqx-icon-calendar-dark-blue
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-dark-blue
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-dark-blue
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-dark-blue
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-hover-dark-blue
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-selected-dark-blue
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-dark-blue
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-hover-dark-blue
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-selected-dark-blue
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-dark-blue>.jqx-grid-group-expand-dark-blue
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-hover-dark-blue>.jqx-grid-group-expand-dark-blue
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-selected-dark-blue>.jqx-grid-group-expand-dark-blue
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-dark-blue>.jqx-grid-group-collapse-dark-blue
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-hover-dark-blue>.jqx-grid-group-collapse-dark-blue
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-selected-dark-blue>.jqx-grid-group-collapse-dark-blue
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-dark-blue>.jqx-grid-group-expand-rtl-dark-blue
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-hover-dark-blue>.jqx-grid-group-expand-rtl-dark-blue
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-selected-dark-blue>.jqx-grid-group-expand-rtl-dark-blue
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-dark-blue>.jqx-grid-group-collapse-rtl-dark-blue
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-hover-dark-blue>.jqx-grid-group-collapse-rtl-dark-blue
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-dark-blue.jqx-grid-cell-selected-dark-blue>.jqx-grid-group-collapse-rtl-dark-blue
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-dark-blue, .jqx-grid-column-sortdescbutton-dark-blue
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-column-sortascbutton-dark-blue
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-delete-dark-blue
{
  background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-dark-blue
{
  background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-dark-blue
{
  background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-dark-blue
{
  background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-dark-blue
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-dark-blue
{
  background-image: url('images/icon-plus_white.png');
}
